@import url("./universal-Selector.css");
@import url("./Necessary.css");
@import url("../documentation.css");
@import url("../Styles.css");

.Img-status-badge{
    position: relative;
}
.status-badge{
    width: 15px;
    height: 15px;
    background-color: rgb(48, 247, 48);
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 15px;
}
.num-bdg{
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -15px;
}
.xlg-Status-badge{
    width: 15px;
    height: 15px;
    bottom: 21px;
    right: 20px;
}
.sm-Status-badge{
    width: 10px;
    height: 10px;
}
.top-left-Position{
    position: absolute;
    top: 0;
    left: 0;
}
.top-right-Position{
    position: absolute;
    top: 0px;
    right: 0px;
}
.bottom-right-Position{
    position: absolute;
    bottom: 0;
    right: 0px;
}