
@import url("../Styles.css");
.InputBody{
padding: 10px;
margin: 10px;
}
.input-box{
    padding: 1em 0;
    width: 40rem;
    border-radius: 3px;
    color: black;
    font-size: larger;
}
.input-box-checkbox{
    padding: 4px;

}